@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .square {
    aspect-ratio: 1/1;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll {
    overflow-y: overlay;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #686868;
    cursor: pointer;
  }
}

.leaflet-popup-content-wrapper {
  all: unset;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  all: unset;
}

.leaflet-popup-tip-container {
  all: unset;
}

.leaflet-popup-tip {
  all: unset;
}
